/* ========================================
    MUDANÇAS GERAIS
    tambem será usada em outras pages
   ======================================== */
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,  sans-serif !important;
}

:root{
    --cor-fundo: rgb(74, 121, 165);
    --cor-caixa: rgb(163, 194, 219);
}

/* ========================================
    PARTE DO LOGIN
    tambem será usada em outras pages
   ======================================== */

body {
    background-color: var(--cor-fundo) !important;
}

.fundo-login {
    background-color: var(--cor-caixa) !important;
}

.cor-texto{
    color: white !important;
}   

.btn-hover:hover {
    background-color: rgb(74, 121, 165) !important;
    color: rgb(255, 255, 255) !important;
    border: -2px solid;
    transition: 0.2s ease-out;
}

/* ========================================
    PARTE DA HOMEPAGE
    tambem será usada em outras pages
   ======================================== */

input#salario {
    border: 1px solid rgb(172, 172, 172);
    border-radius: 5px;
    margin-left: 10px;
}

input#submitSalario {
    margin-left: 10px;
}