<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador</title>
    <link rel="icon" href="{{ url_for('static', filename='imagem/icone.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="d-flex justify-content-center align-items-center" style="min-height: 15vh;">
            <div class="card shadow-lg p-2 cor-texto fundo-login" style="width: 350px;">
                
                <form action="{{url_for('atualizarSalario')}}" method="post" class="login">

                    <div class="label-homepage d-flex justify-content-center align-items-center ">
                        <label for="salario" class="form-label lead">Sálario:</label>
                        <input type="NUMBER" id="salario" name="salario" value="{{salario}}" required>
                        <input type="submit" name="Enviar" id="submitSalario">
                    </div>
                </form>
            </div>
        </div>
    </header>
    <main>


    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>